header {
    width: 100%;
    background-color:#333333;
    height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index:1;
}

.navbar-hidden {
    display: none;
}

.menu-icon-container {
    background-color: #333333;
}

.menu {
    display: none;
    margin-left: 20px;
    cursor: pointer;
    position: static;
    background-color: #333333;

}

.nav-tab:nth-of-type(1) {
    margin-left: 10px;
}

.nav-tab {
    background-color:#333333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height:80px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-tab:hover {
    background-color: black;
    color: white;
}

.authentication-home{
    background-color: #333333;
    display: flex;
    margin-left: 200px;
}

.nav-link {
    background-color: #333333;
    text-decoration: none;
}

.nav-icon {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    margin-left:40px;
    color: white;
    padding-right: 20px;
}

.nav-icon-first-letter {
    background-color: #333333;
    color: orange;
}

.search-bar {
    width: 350px;
    height:35px;
    margin-left: 300px;
    color: white;
}

.sidebar {
    position: absolute;
    height:100vh;
    width: 70vw;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    overflow: hidden;
}

.close {
    margin-top: 250px;
    background-color: #333333;
}

.sidebar-link {
    text-decoration: none;
    color: white;
    background-color: #333333;
    border: none;
    cursor: pointer;
}

.sidebar-tab {
    background-color: #333333;
    color: white;
    border: none;
    cursor: pointer;
}

.sidebar-authentication {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #333333;
}

@media screen and (max-width:640px) {
    .menu {
        display: inline-block !important;
        margin-left: 20px !important;
    }

    .nav-icon {
        display: none !important;
    }

    .nav-link {
        display: none;
    }

    .nav-tab {
        display: none !important;
    }

    .search-bar {
        width: 260px;
        margin-left: 40px;
        border-radius: 15px;
    }

    .sidebar {
        height: 100vh;
    }
}