.movie-card {
    width: 350px;
}

.movie-card:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.movie-info {
    background-color:rgb(224, 176, 42);
    height:60px;
    margin-top: -15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie-info > h3 {
    color:black;
    background-color: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

.movie-poster {
    width: 350px;
}

.movie-card:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.vote {
    height: 30px;
    width: 30px;
    background-color: rgb(22, 22, 22);
    margin-right: 10px;
    border-radius: 7px;
}

.vote > h3 {
    color: white;
    margin: auto;
    width: fit-content;
    background-color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4px;
}

